*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0b0d13;
color:white;
}

header{

background:url("../images/hero-bg.jpg");

background-size:cover;

background-position:center;

min-height:100vh;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:rgba(0,0,0,.55);

backdrop-filter:blur(10px);

}

.logo img{

width:180px;

}

.navbar ul{

display:flex;

list-style:none;

gap:35px;

}

.navbar a{

color:white;

text-decoration:none;

font-weight:bold;

transition:.3s;

}

.navbar a:hover{

color:#00bfff;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:70px;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-size:70px;

}

.hero-text h2{

color:#00bfff;

margin:15px 0;

font-size:30px;

}

.hero-text p{

font-size:20px;

line-height:35px;

margin-bottom:40px;

}

.hero-image{

width:45%;

text-align:center;

}

.hero-image img{

width:100%;

max-width:550px;

}

.btn{

background:#00bfff;

padding:15px 35px;

border-radius:8px;

text-decoration:none;

color:#000;

font-weight:bold;

margin-right:15px;

}

.btn:hover{

background:#0099cc;

}

.btn2{

border:2px solid #00bfff;

padding:15px 35px;

border-radius:8px;

text-decoration:none;

color:white;

font-weight:bold;

}

.btn2:hover{

background:#00bfff;

color:black;

}

.categorias{

padding:80px;

background:#111722;

}

.categorias h2{

text-align:center;

font-size:40px;

margin-bottom:50px;

}

.categoria-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:30px;

}

.categoria-card{

background:#1a2230;

padding:35px;

border-radius:15px;

text-align:center;

transition:.3s;

cursor:pointer;

}

.categoria-card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px #00bfff55;

}

.categoria-card img{

width:70px;

margin-bottom:20px;

}

.productos{

padding:90px;

}

.productos h2{

text-align:center;

font-size:40px;

margin-bottom:60px;

}

.productos-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:40px;

}

.producto{

background:#171d27;

border-radius:18px;

overflow:hidden;

transition:.3s;

}

.producto:hover{

transform:translateY(-8px);

box-shadow:0 0 25px #00bfff55;

}

.producto img{

width:100%;

height:260px;

object-fit:cover;

}

.producto h3{

padding:20px;

}

.producto p{

padding:0 20px;

color:#cccccc;

line-height:28px;

}

.producto h4{

padding:20px;

font-size:28px;

color:#00bfff;

}

.producto a{

display:block;

margin:20px;

padding:15px;

background:#00bfff;

color:black;

text-align:center;

border-radius:8px;

font-weight:bold;

text-decoration:none;

}
